{% extends "layout.html" %}
<html>
{% block content %}
<script type="text/javascript" src="{{ url_for('static', filename='legend.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='dataProcessing.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='date_util.js') }}"></script>
<body>
    <h1>Stacked Bar Chart using D3.js</h1>
    <div class="legend"></div>
    <svg></svg>
    <div class="site" id="data" value="{{ posts }}"></div>

    <select name="start_date">
        <option value="">--请选择开始日期--</option>
        <script type="text/javascript">
        function GetDateStr(AddDayCount) {
        var dd = new Date();
        dd.setDate(dd.getDate()+AddDayCount);//获取AddDayCount天后的日期
        var y = dd.getFullYear();
        var m = dd.getMonth();    //获取当前月份的日期
        var d = dd.getDate();
        return y+"-"+m+"-"+d;
        }
        var optionStr="";
        for(var i=1;i<=30;i++){
        optionStr += '<option value="' + GetDateStr(i) + '">' + GetDateStr(i) + '</option>';
        }
        document.writeln(optionStr);
        </script>
    </select>

    <script>
        // var target_dates = ['2020-06-05', '2020-06-06', '2020-06-07', '2020-06-08', '2020-06-09', '2020-06-10', '2020-06-11']
        var data = document.getElementById("data").getAttribute("value");
        data = data.replace(/'/g, '"')
        var json_obj = JSON.parse(data)
        var dataset = new Array();
        // TODO: 把data processing写成一个函数
        // --------------------------   data processing     ------------------------------------------
        var target_dates = new Array();
        var startDate = new Date("2020-06-05")
        var endDate = new Date("2020-06-07")
        var dates = getDates(startDate,endDate)
        dates.forEach(function (date) {
        target_dates.push(date.toISOString().slice(0, 10));
        });
        console.log(target_dates)
        
        dataset = dataProcessing(json_obj,target_dates)
        console.log(dataset)

        //miao
       

        var columns = ['site'].concat(target_dates)
        var series = d3.stack()
            .keys(columns.slice(1))(dataset)
        series.map(d => (d.forEach(v => v.key = d.key)))
        // construct data end

        // stacked bar chart写成一个函数
        // layout variables
        width = innerWidth
        height = 900
        margin = ({ top: 10, right: 10, bottom: 30, left: 45 })

        x = d3.scaleBand()
            .domain(dataset.map(d => d.site))
            .range([margin.left, width - margin.right])
            .padding(0.1)

        y = d3.scaleLinear()
            .domain([0, d3.max(series, d => d3.max(d, s => s[1]))])     // 0 - 爬取量最大的网站的爬取量
            .rangeRound([height - margin.bottom, margin.top])

        color = d3.scaleOrdinal()
            .domain(series.map(d => d.key))
            .range(d3.schemeSpectral[series.length])
            .unknown("#ccc")

        // axis
        xAxis = g => g
            .style("font", "20px times")
            .attr("transform", `translate(0,${height - margin.bottom})`)
            .call(d3.axisBottom(x).tickSizeOuter(0))
            .call(g => g.selectAll(".domain").remove())

        yAxis = g => g
            .style("font", "20px times")
            .attr("transform", `translate(${margin.left},0)`)
            .call(d3.axisLeft(y).ticks(null, "s"))
            .call(g => g.selectAll(".domain").remove())

        formatValue = x => isNaN(x) ? "N/A" : x.toLocaleString("en")

        // construct chart
        var svg = d3.select('svg').attr("viewBox", [0, 0, width, height]);
        svg.append("g")
            .selectAll("g")
            .data(series)
            .join("g")
            .attr("fill", d => color(d.key))
            .selectAll("rect")
            .data(d => d)
            .join("rect")
            .attr("x", (d, i) => x(d.data.site))
            .attr("y", d => y(d[1]))
            .attr("height", d => y(d[0]) - y(d[1]))
            .attr("width", x.bandwidth())
            .append("title")
            .text(d => `${d.data.site} ${d.key} ${formatValue(d.data[d.key])}`);

        svg.append("g")
            .call(xAxis);

        svg.append("g")
            .call(yAxis);

        // construct legend
        var l = legend({
            color: d3.scaleOrdinal(target_dates, d3.schemeSpectral[target_dates.length]),
            title: "Date",
            tickSize: 0
        })

        d3.select(".legend").node().appendChild(l);
        
    </script>
</body>
{% endblock content %}

</html>